:root{
    --main--icons--color: #af9661;
    --header-background-color:#252e3e;
    --main-title-color:#af9661;
    --main-text-color: #7a807a;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap:break-word ;
}

html{
    background-color: #efeff0;
}

body{
    margin: auto;
    max-width: 1200px;
    /* border: 0.1px solid #c2c8d1; */
    box-shadow: 0px 0px 15px #c2c8d1 ;
}

header{
    background-color: var(--header-background-color);
    /* background-color: #252e3e; */
    height: auto;
    color: var(--main--icons--color);
    padding-bottom: 20px;
   
}

.letters div h2{
    color: var(--main--icons--color);
    padding: 0px 2px 10px 2px;
    vertical-align: top;
    font-weight: 900;
    text-shadow: 0px 0px 10px black;
}


.letters{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    
}

h1{
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 10px ;
    text-shadow: 0px 0px 2px var(--main-title-color);
   
}
section.main-title{
    display: flex;  
    width: 90%;
    margin: 0 auto;
    height: 50px;
}

section.main-title div{
width: calc(100%/3);
display: flex;
    justify-content: center;
    align-items: center;
}
section.main-title div h4{
letter-spacing: 2px;
font-weight: 900;
color: var(--main-title-color);
text-shadow: 0px 0px 10px black;
}
.main-title .vertical-line div{
    width: 100%;
    height: 1px;
    color: var(--main-title-color);
    background-color:var(--main-title-color) ;
}

section.contactInfo{
    display: flex;
    align-items: center;
    width: 90%;
    height: 30%;
    margin: 0 auto;
    padding-bottom: 10px;
}

section.contactInfo div{
    width:calc((100%/3));
}

section.contactInfo div p{
color:#fff;
line-height: 1.6rem;
text-shadow: 0px 0px 10px black;
}
    
section.contactInfo div p i{
    font-size: 1.5rem;
    color: var(--main--icons--color);
    text-shadow: 0px 0px 5px black;
}

.contactInfo div p {
    text-align: center;
    letter-spacing: 1px;
}

.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--main--icons--color);
    border-right: 1px solid var(--main--icons--color);
    height: 90px;
}

section.contactInfo div.phone p{
    align-self: center;
    line-height: 2rem;
    
}

.main{
    display: flex;
    color: #7a807a;
    margin: 0 auto;
}

.main .sidebar{
    
    background-color: #efeff0;
    width: calc(100%/3);
    
}
.main .sidebar .sidebar-content{
    width: 75%;
    margin: auto;
}
#personal-image{
    margin: 50px auto 0px;
    text-align: center;
}

div#personal-image img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;

}

.main .main-content{
    width: calc(100% - 100%/3);
    background-color: #fff;

}

.sidebar-title{
color: var(--header-background-color);
border-top: 1px solid var(--header-background-color);
border-bottom: 1px solid var(--header-background-color);
padding: 10px 0px;
letter-spacing: 3px;
font-weight: 900;
margin-bottom: 10px;
margin-top: 50px;
text-transform: uppercase;
}

.sidebar p{
    font-size: 1rem;
    /* color: var(--header-background-color); */
    /* color: #939493; */
}



.education-title{
    margin-top: 20px;
    color: var(--header-background-color);
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.education-place{
    color: var(--main-title-color);
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.driving-license{
    margin-bottom: 20px;
}
.content{
    width: 90%;
    margin: 30px auto;
}

.content p:first-child {
    padding: 20px 0;
    margin-bottom: 100px;
}

.main-content-title{
color: var(--header-background-color);
border-top: 1px solid var(--header-background-color);
border-bottom: 1px solid var(--header-background-color);
padding: 10px 0px;
letter-spacing: 3px;
font-weight: 900;
margin:20px 0;
text-transform: uppercase;
}
.main p{
    line-height: 1.5rem;
}

.main-content-item{
    display: flex;
   
}

.main-content-item div.mc-item-place-time{
    width: calc(100%/3);
    padding-right: 10px;
    padding-top: 2px;
    flex-grow: 1;
}

.main-content-item div.mc-item-description{
    width: calc(100% - 100%/3);
    display: flex;
    flex-grow: 2;
}

.mc-item-description p{
    padding-bottom: 100px;
    width: 100%;
}
.circle{
    display: inline-block;
    margin-right: 10px;
    width: 11px;
    height: 11px;
    background-color: var(--main-text-color);
    border-radius: 50%;
    padding-bottom: 0px;;
}

.mc-left-styling{
    position: relative;
}

.line{
    width: 1px;
    background-color: var(--main-text-color);
    height: 100%;
    left: 5px;
    position: absolute;
    top: 10px;   


}

.main-content-item h5{
    margin-top: 0;
    margin-bottom: 10px;
    overflow-wrap:break-word ;
}

.mc-item-place-time h5{
    font-weight: 500;
    font-size: 14px;
    overflow-wrap:break-word ;
}

.languages ul,.skills ul {
    list-style-position: inside;
    -ms-list-style-position: inside;   
}


.skills ul li{
font-size: 1.1rem;
letter-spacing: 1px; 
width: 100%;
height: 100px;
}

.skills ul li span{
display: inline-block;
}
.languages ul li{
    font-size: 1.2rem;
    height: 50px;
}
.languages ul li::marker, .skills ul li::marker{
    color: var(--main-title-color);
    font-size: 25px;
    margin-right: 0px !important;
}

footer{
    height: 50px;
    text-align: center;
    background-color: var(--header-background-color);
    z-index:1;
}

footer p{
    position: relative;
    top: 60%;
    color: var(--main--icons--color);
    text-shadow: 0px 0px 10px black;

}

#video{
      display: none;
      height: 200px;
      width: 100%;
    }

    #myvideo{
      display: block;
      width: 100% ;
      height: 200px;
      object-fit: cover;
    }
@media only screen and (max-width:960px){
    header{
        width: 100%;
    }

    h1{
        margin-bottom: 1rem;
    }
    section.main-title{
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    section.main-title div{
        width: 100%;
    }

    section.contactInfo{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    section.contactInfo div{
        width: 100%;
        margin-bottom: 1rem;
    }

    .skills ul, .languages ul{
        list-style-position: outside;
        padding-left: 5%;
    }
}


@media only screen and (max-width:780px){
.main{
    flex-direction: column;
    flex-wrap: wrap;
}

.main .sidebar{
    width: 100%;
}

.sidebar .sidebar-content{
    width: 100%;
}

.main .main-content{
    width: 100%;
}
#video{
        display: block;
        width: 100%;
        height: 200px;
}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Chrome and Safari-specific styles go here */
    /* .skills ul li span{
        position: relative;
        left: -20px;
    } */
}

@-moz-document url-prefix() {
    /* Firefox-specific styles go here */
    /* .skills ul li span{
        position: relative;
        left: 0px;
    } */
}
